.footer-wrapper {
  background-color: black;
  height: 300px;
  margin-top: 50px;
  color: var(--grayscale-g-7, #ebebeb);

  /* UI/Medium/Underline */
  font-family: Open Sans;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px; /* 125% */
  text-decoration-line: underline;
  text-decoration-thickness: 0.1px;
}

.horizontal-break {
  height: 0.25px;
  background-color: #999;
}

.dot {
  height: 5px;
  width: 5px;
  background-color: #ebebeb;
  border-radius: 50%;
  display: inline-block;
  margin: 0 6px;
}

.social {
  max-width: 32px;
  max-height: 32px;
}